.main {
  background: white;
  margin: 30px 47px; /* Default margin for desktop view */
  
    /* Media query for mobile view */
    @media (max-width: 767px) {
      margin: 0 10px; /* Margin for mobile view */
    }
  }
  .image-container {
    height: 300px; /* Adjust the height as needed */
  }
  
  